<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Employee Payroll Management System</a>
          
        </div>
    </nav>
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Employee ID</th>
          <th scope="col">StartDate</th>
          <th scope="col">EndDate</th>
          <th scope="col">Reason</th>
          <th scope="col">status</th>
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let l of leaveList">
          <td>{{l.id}}</td>
          <td>{{l.employeeid}}</td>
          <td>{{l.startdate}</td>
          <td>{{l.enddate}}</td>
          <td>{{l.reason}}</td>
          <td>{{l.status}}</td>
  
        </tr>
  
      </tbody>
    </table>
    
</div>
